@model Students_Announcement.Models.Announcement

@{
    ViewData["Title"] = "Delete";
}
<style type="text/css">
    body {
        background-color: bisque;
    }

    h1 {
        font-style: italic;
        text-align: center;
    }

    .create_btn {
        margin-top: 20px;
        box-shadow: 3px 3px 25px 1px rgba(0,0,0,0.75);
        background-color: whitesmoke;
        border: none;
        border-radius: 10px;
        color: black;
        width: 100px;
        height: 50px;
        text-align: center;
    }

        .create_btn a {
            text-decoration: none;
            color: black;
            text-align: center;

        }

            .create_btn a:hover {
                color: white;
            }

        .create_btn:hover {
            background-color: brown;
            color: white;
        }

    tbody {
        background-color: white;
    }

    thead {
        background-color: brown;
        color: white;
    }
    a {
        color: black;
        text-decoration:none;


    }
    a:hover{
        color:brown;
        
    }
</style>

<h1>Usuwanie..</h1>

<h3>Czy na pewno usunąć to ogłoszenie?</h3>
<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uczelnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uczelnia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wydzial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wydzial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Tak, usuń" class="create_btn" /> |
        <a asp-action="Index">Anuluj</a>
    </form>
</div>
