@model Students_Announcement.Models.Announcement

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uczelnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uczelnia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wydzial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wydzial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
