@model IEnumerable<Students_Announcement.Models.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h1>List ogłoszeń</h1>

<p>
    <a asp-action="Create">Dodaj ogłoszenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.uczelnia)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wydzial)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AutorSortParm"]">@Html.DisplayNameFor(model => model.autor)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uczelnia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wydzial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
